/* Thanks for joining :) */
/*@font-face {
  font-family: 'Lato';
  src: url('Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
*/

/*-------- Resets --------*/
img {
  margin: 0 auto;
  display: block;
}

ul[class],
ol[class],
li[class] {
  list-style: none;
}

.show, .hidden {
  display: none;
}

.padding {
  padding: 0 40px 0;
}

/* -------- Typography -------- */
html, body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica,Arial,sans-serif,Apple Color Emoji;
  color: #515456;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  letter-spacing: 0.050em;
}

html, body, h1, h2, h3, h4, p, span, a, div, img {
  /*-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

a, a:focus, a:visited, img {
  outline: none;
  border: none;
}

a, a:visited {
  text-decoration: none;
}

a, h1, h2, h3, h4, h5, p, span {
  color: #515456;
}

.info-inner h1 {
  color: black;
  font-size: 18px;
  font-weight: normal;
}

.no-italics {
    font-style: normal;
}

.bottomline span {
  letter-spacing: 1px;
}

.dropdown-title:hover {
  cursor: s-resize;
}

.dropdown-content p {
  font-size: 14px;
}

/*-------- Structure --------*/

.wrapper {
  display: flex;
}

.filter {
  margin-top: 5%;
  display: flex;
}

.information {
  width: 50%;
  height: 100vh;
  float: left;
  position: sticky;
  position: -webkit-sticky;
  top:0;
}

.info-wrapper {
  margin-top: 25%;
}

.links {
  width:50%;
  padding: 40px;
}

.first {
  border-top: 1px solid #272727;
}

/*-------- Components --------*/
.c_title_inner, .dropdown-title {
  display: flex;
}

.c_title_inner {
  justify-content: space-between;
  padding: 13px 0 13px 0;
  border-bottom: 2px solid #272727;
}

.dropdown-title {
  border-bottom: 1px solid #272727;
}

.dropdown-title {
  padding: 10px 0 10px 0;
  position: relative;
  line-height: 1.3em;
}

.blur {
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
}

.dropdown-title span {
  display: inline-block;
  vertical-align: top;
}

.dropdown-title-title {
  width: 70%;
}

span.arrow-down {
  position: absolute;
  top: 12px;
  right: 0;
}

.dropdown-content {
  padding: 0 0 30px 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-width: 100%;
}

.dropdown-content p {
  padding-top: 20px;
}

.rotate {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

input[type=checkbox] {
  visibility: hidden;
}

input[type=checkbox] + label {
  opacity: 0.6;
}

input[type=checkbox]:checked+label {
  border: 2px dotted #000;
}

.checkbox {
  padding: 0px 10px 5px 10px;
}

.red {
  color: red;
  font-size: 25px;
}

.blue {
  color: blue;
  font-size: 25px;
}

.green {
  color: green;
  font-size: 25px;
}

.purple {
  color: purple;
  font-size: 25px;
}

.updated {
  opacity: 0.6;
  font-size: 12px;
}

/*-------- Mobile --------*/

/* Breakpoints */
@media (max-width:740px) {
  .padding {
    padding: 10px 20px 20px 20px;
  }

  .dropdown {
    width: 70%;
  }

  .dropdown-title i {
    position: absolute;
    right: 0;
  }

  #index-categories {
    padding-bottom: 10px;
  }

  .filter {
    padding: 0px 0px 0px 0px;
    display: block;
  }

  .filter-head {
    padding: 0px 0px 20px 0px;
  }

  .checkbox {
    padding: 0px 10px 12px 10px;
  }
}

/* Mobile devices */
@media (max-width: 500px) {
  .wrapper {
    display: block;
  }

  .information, .links {
    width: 100%;
    height: auto;
    float: left
  }

  .links {
    padding:0px;
  }

  .info-wrapper {
    margin-top: 8%;
  }

  .filter {
    margin-top: 0;
    margin-bottom: 12%;
  }

  .checkbox {
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    margin-left: -7%;
  }
}

/* Really small devices */
@media (max-width: 350px) {
    body {
      font-size: 12px;
    }
}

/*--------  Device Specific --------*/

/* iPhone 6, 7, & 8 Plus */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .info-wrapper {
    margin-top: 1%;
  }
}
